<ion-view view-title="快递代收" >
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-click="open_wnd_express_edit(0)">新增</button>
  </ion-nav-buttons>

  <ion-content scroll="true" ng-show="express.model_list.length>0">

    <ion-refresher pulling-text="下拉刷新" on-refresh="refresh()"></ion-refresher>

    <div class="list list_full_row" align="center" style="padding:5px 5px 0px 5px;">
      <div class="row item-input-inset">
        <div class="col {{qeryfilters.status=='0'?'tab-define-active':'tab-define'}}" ng-click="changequeryfilter('0')">
          未签收
        </div>
        <div class="col {{qeryfilters.status=='1'?'tab-define-active':'tab-define'}}" ng-click="changequeryfilter('1')">
          已签收
        </div>
      </div>
      <div class="row item-input-inset item-divider">
        <div class="col-10 "><i class="kwwy-icon-url-blue kwwy-icon-512 kwwy-icon-512-ring_pin" style="width:38px;"></i></div>
        <div class="col-25">{{qeryfilters.status=='0'?'录入时间':'签收时间'}}</div>
        <div class="col-75">房号</div>
      </div>

      <div class="item item-input-inset" ng-repeat="itm in express.model_list" ng-click="open_wnd_express_edit(itm.iid)">
        <div class="col-10"><i class="kwwy-icon-url-blue kwwy-icon-512 kwwy-icon-512-thumbtack" style="width:38px;"></i></div>
        <div class="col-25">{{qeryfilters.status=='0'?(itm.create_dt | to_dateformat:"yyyy-MM-dd"):(itm.receive_dt | to_dateformat:"yyyy-MM-dd")}}</div>
        <div class="col-75">{{itm.roompath}}</div>
      </div>

    </div>

    <ion-infinite-scroll  icon="ion-loading-c" ng-if="express.load_more"
                          on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

  </ion-content>




  <ion-content scroll="true" ng-show="express.model_list.length==0" align="center">
    <div class="row" style="margin-top: 150px;">
      <div class="col">
        <img src="img/add.png"/>
      </div>
    </div>

    <div class="row">
      <div class="col">
        暂时没有快递,请点击新增
      </div>
    </div>

  </ion-content>

</ion-view>

