#android
android/ktwygl/bin
backend/appweb/Resource/data
backend/appweb/Resource/config/
backend/appweb/bin
backend/PMS.Model/bin
backend/PMS.Model/obj
backend/SysCommon/bin
backend/SysCommon/obj
backend/MSGSrv/bin
backend/MSGSrv/obj


cancer/doc
*.~$lock
*.zip
.DS_Store
