<ion-modal-view  ng-controller="userreg">
  <!--
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  -->
  <ion-header-bar class="energized-bg light" align-title="center">
    <button class="button button-clear" ng-click="closeRegWnd()">返回</button>
    <h1 class="title light">用户注册</h1>
  </ion-header-bar>

  <ion-content scroll="false">
    <ion-list>
      <ion-item class="item-input item-stacked">
        <ion-label>用户名</ion-label>
        <input type="text" placeholder="手机号"  ng-model="usercenter_reg.username">
      </ion-item>
      <ion-item class="item-input item-button-right">
        <ion-label>验证码</ion-label>
        <input type="text" placeholder="验证码" ng-model="usercenter_reg.checkcode">
        <button class="button button-stable {{usercenter_reg.btn_getcode_disabled}}" style="font-size: 12px;" ng-click="getCheckCode()">{{usercenter_reg.btn_getcode_txt}}</button>
      </ion-item>
    </ion-list>
    <div style="padding:5px;">
      <button class="button button-block button-positive {{usercenter_reg.btn_reg_disabled}}" ng-click="nextstep()">下一步</button>
    </div>

  </ion-content>
</ion-modal-view>
