<ion-modal-view ng-controller="user_set">

  <ion-header-bar class="orange-bg light" align-title="center">
    <button class="button button-clear" ng-click="close_wnd_user_set()">返回</button>
    <h1 class="title light">账号设置</h1>
  </ion-header-bar>
  <ion-content scroll="true">
    <div class="list list_full_row" style="margin:0px 5px 0px 5px;">

      <div class="item item-input-inset item-icon-right" ng-click="change_photo()">
        <div class="col">头像</div>
        <div class="col-34" align="left">
            <image src="{{usercenter.photo_url}}" style="border:0px solid #ff9933;width:63px;height: 63px;border-radius: 50%;"></image>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>

      <div class="item item-input-inset item-icon-right" ng-click="open_wnd_user_set_detail('name','更改姓名')">
        <div class="col">真实姓名</div>
        <div class="col-40">{{usercenter.name}}</div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>

      <div class="item item-input-inset item-icon-right" ng-click="open_wnd_user_set_detail('nickname','我的昵称')">
        <div class="col">我的昵称</div>
        <div class="col-40">{{usercenter.nickname}}</div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>

      <div class="item item-input-inset item-icon-right" ng-click="open_wnd_user_set_detail('phone','手机号')">
        <div class="col">手机号码</div>
        <div class="col-40">{{usercenter.phone}}</div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>

      <div class="item item-input-inset item-icon-right" ng-click="open_wnd_user_set_detail('birthday','生日')">
        <div class="col">出生日期</div>
        <div class="col-40">{{usercenter.birthday|to_dateformat:"yyyy-MM-dd"}}</div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>

      <div class="item item-input-inset item-icon-right" ng-click="open_wnd_user_set_detail('sex','性别')">
        <div class="col">性别</div>
        <div class="col-25">{{usercenter.sex}}</div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>

      <div class="item item-input-inset item-icon-right">
        <div class="col">我的标签</div>
        <div class="col-25"></div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>

      <div class="item item-input-inset item-icon-right"  ng-click="open_wnd_user_set_detail('password','修改密码')">
        <div class="col">修改密码</div>
        <div class="col-25"></div>
        <i class="icon ion-ios-arrow-right"></i>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
