<ion-view view-title="注册">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>

  <ion-content scroll="false">
    <ion-list>
      <ion-item class="item-input item-stacked">
        <ion-label>用户名</ion-label>
        <input type="text" placeholder="手机号"  ng-model="usercenter_reg.username">
      </ion-item>
      <ion-item class="item-input item-button-right">
        <ion-label>验证码</ion-label>
        <input type="text" placeholder="验证码" ng-model="usercenter_reg.checkcode">
        <button class="button button-stable {{usercenter_reg.btn_getcode_disabled}}" style="font-size: 12px;" ng-click="getCheckCode()">{{usercenter_reg.btn_getcode_txt}}</button>
      </ion-item>
    </ion-list>
    <div style="padding:5px;">
      <button class="button button-block button-positive {{usercenter_reg.btn_reg_disabled}}" ng-click="nextstep()">下一步</button>
    </div>

  </ion-content>
</ion-view>
