/*mobile app css
auth jrain
2015.12
version 0.1
-------
-------
*/


a:focus,input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}



body{
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		font-size:1.8rem;
		padding:0px 0px;
		margin:0px 0px;
	-webkit-touch-callout:none ;
	-webkit-user-select:none ;
}


div.row {
	border-bottom: 1px solid rgb(199,199,204);
}

div.lastrow {
	border-bottom: 0px solid rgb(199,199,204);
}
div.title{
	padding-left: 15px;
	height: 35px;
	font-size:1.6rem;
	line-height: 35px;
	background:rgb(239,239,244);
	color:rgb(109,109,114);	
	
}
div.list{
	height:44px;
	line-height:44px;
}
div.pickimg{
	height:99px;
	line-height:99px;	
	padding-left:15px;
	padding-right:15px;
}
div.pickimg>div>img{
	height:70px;	
}

div.area{
	height:176px;
	padding:5px 30px;
}
div.area>textarea{
	width:100%;
	border:0px;
}
div.button{
	padding-top:5px;
	
}
div.havecontent{
	
	background:url(havecontent.png);
	background-size:12px 18px;
	background-repeat: no-repeat;
	background-position-x: 96%;
	background-position-y: 13px;
}

div.list>div{
	padding-left:2px;
	padding-right:2px;
	
	
}
.inputlabel{
	text-indent:20px;
	text-align:left;
}
input.form-control{
	border:0px solid #fff;
	outline:0px solid #fff;
	box-shadow:0px 0px 0px #fff;
	border-radius:0px;
	height:42px;
	font-size:1.6rem;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



/*------------------------------------------------------------*/
.fa{
	margin-right:15px;
}
.red{
	color:red;
}
.blue{
	color:blue;
}
div,ul, li{
	padding:0px 0px;
	margin:0px 0px;
}
ul.linelist{
	list-style: none;
	width: 100%;
	text-align: left;
}

ul.linelist>li.item{
	padding-left:0px;
	height: 44px;
	line-height: 44px;
	background:white;
	color:black;
	border-bottom: 0.5px solid rgb(199,199,204);
	border-left:25px solid white;
}
ul.linelist>li.form{
	padding-left:25px;
	height: 44px;
	line-height: 44px;
	background:white;
	color:black;
	
	border-bottom: 0.5px solid rgb(199,199,204);
}

ul.linelist>li.form>span{
	width:100px;
	margin-right:15px;
	}
ul.linelist>li.form>input{
	width:50%;
	border:1px solid #ccc;
	font-size:1.0rem;
	position:absolute;
	height:30px;
	right:5%;
	
}

ul.linelist>li.subtitle{
	padding-left: 15px;
	height: 35px;
	font-size:0.8rem;
	line-height: 35px;
	background:rgb(239,239,244);
	color:rgb(109,109,114);
	border-bottom: 0.5px solid rgb(199,199,204);
	border-top: 0.5px solid rgb(199,199,204);
}

ul.linelist>li.subtitle>span{
	padding-top: 18px;
	height: 17px;
	font-size:0.8rem;
	line-height: 17px;
	display:block;
}


