
<ion-view view-title="首页">
  <ion-content scroll="true">
    <div class="row"  align="center">
        <div class="col-25" ng-click="goAfterLogin('tab.master_query')">
          <img src="img/1yzcx.png" class="nav">
          </br>
          业主查询
        </div>
        <div class="col-25" ng-click="goAfterLogin('tab.vehicle_query')">
          <img src="img/2cpcx.png" class="nav">
          </br>
          车牌查询
        </div>
        <div class="col-25">
          <img src="img/3tsby.png" class="nav">
          </br>
          投诉表扬
        </div>
        <div class="col-25">
          <img src="img/4wx.png" class="nav" ng-click="goAfterLogin('tab.user_repair')">
          </br>
          维修
        </div>
    </div>
    <div class="row" style="margin-top:5px;" align="center">
      <div class="col-25">
        <img src="img/5sqtz.png" class="nav">
        </br>
        社区通知
      </div>

      <div class="col-25">
        <img src="img/6wyfcx.png" class="nav">
        </br>
        物业费查询
      </div>
      <div class="col-25">
        <img src="img/7dxqf.png" class="nav">
        </br>
        短信群发
      </div>
      <div class="col-25">
        <img src="img/8kdlr.png" class="nav">
        </br>
        快递录入
      </div>
    </div>

    <div class="row" style="margin-top:5px;" align="center">
      <div class="col-25">
        <img src="img/9sfcb.png" class="nav">
        </br>
        水费抄表
      </div>
      <div class="col-25">
        <img src="img/10fkxx.png" class="nav">
        </br>
        访客信息
      </div>
      <div class="col-25">
        <img src="img/11baxl.png" class="nav">
        </br>
        保安巡逻
      </div>

      <div class="col-25">
        <img src="img/12xxfs.png" class="nav">
        </br>
        消息推送
      </div>
    </div>

    <ion-list>
      <ion-item class="item-icon-right">
        <h2>内部通知</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item>
        <h3>关于开始收取2016年度物业管理费的通知</h3>
        <p>尊敬的业主：2016年度物业管理费收取工作已经...</p>
        <div align="right">2016/03/04</div>
      </ion-item>
      <ion-item>
        <h3>关于开始收取2016年度物业管理费的通知</h3>
        <p>尊敬的业主：2016年度物业管理费收取工作已经...</p>
        <div align="right">2016/03/04</div>
      </ion-item>
      <ion-item>
        <h3>关于开始收取2016年度物业管理费的通知</h3>
        <p>尊敬的业主：2016年度物业管理费收取工作已经...</p>
        <div align="right">2016/03/04</div>
      </ion-item>

    </ion-list>


  </ion-content>
</ion-view>
