<ion-view view-title="通告详情">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-click="reply()">评论</button>
  </ion-nav-buttons>

  <ion-content scroll="true">
    <div class="list">
      <ion-item class="item item-body item-borderless" align="center">
        <h2>{{news_wy.model.title}}</h2>

        <p>
          {{news_wy.model.publish_dt|to_dateformat:'yyyy-MM-dd'}}
          <a href="#" class="subdued" ng-click="settop(1)">置顶</a>
          <a href="#" class="subdued" ng-click="settop(0)">取消置顶</a>
          <a href="#" class="subdued" ng-click="delnews()">删除</a>
          <a href="#" class="subdued" ng-click="open_wnd_news_wy_edit(news_wy.model.iid)">编辑</a>
        </p>

        <p align="left">{{news_wy.model.ctext}}</p>
        <img class="full-image" src="{{itm.url}}" ng-repeat="itm in news_wy.model.imagelist_url_real">
      </ion-item>


    </div>

  </ion-content>

</ion-view>
