<ion-view view-title="通告详情">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-click="reply()">({{news_wy.model.repcnt}})评论</button>
  </ion-nav-buttons>

  <ion-content scroll="true">
    <div class="list">
      <ion-item class="item item-body item-borderless" align="center">
        <h2>{{news_wy.model.title}}</h2>

        <p>
          发布时间:{{news_wy.model.publish_dt|to_dateformat:'yyyy-MM-dd'}}
          <a href="#" class="subdued" ng-click="settop(1)" ng-show="news_wy.model.topnumber==false">置顶</a>
          <a href="#" class="subdued" ng-click="settop(0)" ng-show="news_wy.model.topnumber==true">取消置顶</a>
          <a href="#" class="subdued" ng-click="delnews()">删除</a>
          <a href="#" class="subdued" ng-click="open_wnd_news_wy_edit(news_wy.model.iid)">编辑</a>
        </p>

        <p align="left" ng-bind-html="news_wy.model.ctext|to_trusted"></p>
        <img class="full-image" src="{{itm.url}}" ng-repeat="itm in news_wy.model.imagelist_url_real"
             ng-click="photoview(news_wy.model.imagelist_url_real,$index)">
      </ion-item>


    </div>

  </ion-content>




  <div class="news_wy_detail pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

      <!-- Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">

        <div class="pswp__top-bar">

          <!--  Controls are self-explanatory. Order can be changed. -->

          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

          <button class="pswp__button pswp__button--share" title="Share"></button>

          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

      </div>

    </div>

  </div>


</ion-view>
