<ion-modal-view ng-controller="ctr_selectroom">
  <ion-header-bar class="blue-bg light" align-title="center">
    <button class="button button-clear" ng-click="getParentUnit()">返回</button>
    <h1 class="title light">{{return_text}}</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item">
        <ul><li><a>社区</a>/</li></ul>
      </ion-item>
      <ion-item class="item item-icon-right" ng-repeat="item in roomselect.units" type="item-text-wrap" ng-click="getChildUnit('{{item.uid}}','{{item.unit_title}}')">
        {{item.unit_title}}
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-modal-view>
