

<ion-view view-title="访客登记">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-click="open_wnd_visitor_edit(0)">新增</button>
  </ion-nav-buttons>

  <ion-content scroll="true">

    <ion-refresher pulling-text="下拉刷新" on-refresh="refresh()"></ion-refresher>

    <div class="list list_full_row" align="center" style="padding:5px 5px 0px 5px;">
      <div class="row item-input-inset item-divider">
        <div class="col-10 "><i class="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-ring_pin" style="width:38px;"></i>
        </div>
        <div class="col-25">到访日期</div>
        <div class="col-75">访客姓名</div>
      </div>

      <div class="item item-input-inset" ng-repeat="itm in express.model_list"
           ng-click="open_wnd_viditor_edit(itm.iid)">
        <div class="col-10"><i class="kwwy-icon-url-blue kwwy-icon-512 kwwy-icon-512-thumbtack" style="width:38px;"></i>
        </div>
        <div class="col-25">{{itm.dtm_yj | to_dateformat:"yyyy-MM-dd"}}
        </div>
        <div class="col-75">{{itm.fkname}}</div>
      </div>

    </div>

    <ion-infinite-scroll icon="ion-loading-c" ng-if="express.load_more"
                         on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

  </ion-content>

</ion-view>

