<ion-view view-title="详细资料">
  <ion-content scroll="true" ng-show="true" class="item-divider">
    <ion-list class="list" align="left" style="padding:2px 5px 0px 5px;">

      <ion-item class="item item-thumbnail-left">
        <img src="{{employee.model.photourl}}">

        <h2>{{employee.model.appnickname}}</h2>

        <p>{{employee.model.name}}</p>
      </ion-item>

      <ion-item class="item item-input-inset" style="margin-top:18px;">
        <ion-label>性别:</ion-label>
        <div class="col">{{employee.model.sex}}</div>
      </ion-item>
      <ion-item class="item item-input-inset" >
        <ion-label>出生日期:</ion-label>
        <div class="col">{{employee.model.birthday}}</div>
      </ion-item>

      <ion-item class="item item-input-inset" style="margin-top:18px;">
        <ion-label>电话号码:</ion-label>
        <div class="col">{{employee.model.phone}}</div>
      </ion-item>
      <ion-item class="item item-input-inset">
        <ion-label>部门:</ion-label>
        <div class="col">{{employee.model.deptname}}</div>
      </ion-item>

      <ion-item class="item item-input-inset">
        <ion-label>职务:</ion-label>
        <div class="col">{{employee.model.postname}}</div>
      </ion-item>

      <div class="row" align="center">
        <button class="button button-block button-orange" >发消息</button>
      </div>

    </ion-list>
  </ion-content>

</ion-view>
