
<ion-list>
  <ion-item class="rj-contacts-item">
    <div class="rj-contacts-index-bar">A</div>
    <ion-list class="rj-list">
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item class="rj-contacts-item">
    <div class="rj-contacts-index-bar">B</div>
    <ion-list class="rj-list">
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item class="rj-contacts-item">
    <div class="rj-contacts-index-bar">C</div>
    <ion-list class="rj-list">
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
    </ion-list>
  </ion-item>


  <ion-item class="rj-contacts-item">
    <div class="rj-contacts-index-bar">D</div>
    <ion-list class="rj-list">
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item class="rj-contacts-item">
    <div class="rj-contacts-index-bar">E</div>
    <ion-list class="rj-list">
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item class="rj-contacts-item">
    <div class="rj-contacts-index-bar">F</div>
    <ion-list class="rj-list">
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
      <ion-item class="rj-item">
        <div class="rj-contacts-pic">
          <img src="img/adam.jpg">
        </div>
        <h2>李明</h2>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-list>
