<ion-view view-title="添加好友">
  <ion-content scroll="true" ng-show="true" class="item-divider">
    <ion-list class="list" align="left" style="padding:2px 5px 0px 5px;">

      <ion-item class="item item-input">
         <textarea rows="5" placeholder="跟朋友打个招呼."
                   ng-model="master.model.memo"
                  ></textarea>
      </ion-item>

      <div class="row" align="center">
        <button class="button button-block button-orange" ng-click="addfriend()">添加</button>
      </div>
    </ion-list>
  </ion-content>

</ion-view>
