<ion-view view-title="添加朋友">

  <ion-content scroll="true" ng-show="true" class="item-divider">

    <ion-refresher pulling-text="下拉刷新" on-refresh="refresh()"></ion-refresher>

    <ion-list>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="手机号" ng-model="qeryfilters.search_txt">
        </label>
        <button class="button button-orange button-small" ng-click="refresh()">
          查找
        </button>
      </div>

      <ion-item class="item item-avatar item-icon-right" ng-repeat="itm in master.model_list"
                ng-click="open_wnd_master_edit($index)">

        <img ng-src="{{itm.photourl}}">
        <h2 ng-bind="itm.appnickname"></h2>
        <p ng-bind="itm.name"></p>

        <i class="icon">
          <button class="button button-orange button-small" ng-show="itm.fstatus=='0'">添加</button>
          <button class="button button-orange button-small" ng-show="itm.fstatus=='1'">通过</button>
          <p ng-show="itm.fstatus=='2'">已添加</p>
          <p ng-show="itm.fstatus=='3'">等待对方验证</p>
          <p ng-show="itm.fstatus=='4'">已添加</p>
        </i>

      </ion-item>

    </ion-list>


  </ion-content>

</ion-view>
