<ion-view view-title="详细资料">
  <ion-content scroll="true" ng-show="true" class="item-divider">
    <ion-list class="list" align="left" style="padding:2px 5px 0px 5px;">

      <ion-item class="item item-thumbnail-left">
        <img src="{{newfriend.model.photourl}}">

        <h2>{{newfriend.model.appnickname}}</h2>

        <p>{{newfriend.model.name}}</p>
      </ion-item>

      <ion-item class="item item-input-inset" style="margin-top:18px;">
        <ion-label>性别:</ion-label>
        <div class="col">{{newfriend.model.sex}}</div>
      </ion-item>
      <ion-item class="item item-input-inset" >
        <ion-label>出生日期:</ion-label>
        <div class="col">{{newfriend.model.birthday}}</div>
      </ion-item>

      <ion-item class="item item-input-inset" style="margin-top:18px;">
        <ion-label>电话号码:</ion-label>
        <div class="col">{{newfriend.model.phone}}</div>
      </ion-item>
      <ion-item class="item item-input-inset">
        <ion-label>房号:</ion-label>
        <div class="col">{{newfriend.model.deptname}}</div>
      </ion-item>
      <div class="row" align="center" ng-show="newfriend.model.ftype=='1'">
        <button class="button button-block button-orange" ng-show="newfriend.model.status=='1'" >发消息</button>
        <button class="button button-block button-orange" ng-show="newfriend.model.status=='0'" ng-click="audite()" >通过验证</button>
      </div>

      <div class="row" align="center" ng-show="newfriend.model.ftype=='0'">
        <button class="button button-block button-orange" ng-show="newfriend.model.status=='1'" >发消息</button>
      </div>


    </ion-list>
  </ion-content>

</ion-view>
