


    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>


    <div class="row nav"  align="center">
      <div class="col col-25 col1">
        <img src="img/1sqdt.png">
        <div>社区通知</div>
      </div>
      <div class="col col-25 col2" ng-click="goAfterLogin('root.visitor_list')">
        <img src="img/2fkdj.png">
        <div>访客登记</div>
      </div>
      <div class="col col-25 col3">
        <img src="img/3lxgj.png">
        <div>联系管家</div>
      </div>
      <div class="col col-25 col4" ng-click="reload()">
        <img src="img/4cyxx.png">
        <div>常用信息</div>
      </div>
    </div>
    <div class="row nav"  align="center" >
      <div class="col col-25 col5" ng-click="goAfterLogin('root.express_list')">
        <img src="img/5kdds.png">
        <div>快递代收</div>
      </div>
      <div class="col col-25 col6" ng-click="goAfterLogin('root.user_repair')">
        <img src="img/6wxsb.png">
        <div>维修申请</div>
      </div>
      <div class="col col-25 col7" ng-click="goAfterLogin('root.user_suggestion')">
        <img src="img/7tsjy.png">
        <div>投诉建议</div>
      </div>
      <div class="col col-25 col8">
        <img src="img/8fyjn.png">
        <div>费用缴纳</div>
      </div>
    </div>


    <ion-list>
      <a class="item item-input notify" align="center" href="#">
        <div class="col-18 button button-calm button-small" style="padding:0px 5px;font-size:12px;">通知</div>
        <div class="col-60">收取2016年度物业管理费的通知</div>
        <div class="col-20">2016-04-06</div>
      </a>

      <a class="item item-input notify" align="center"  href="#">
        <div class="col-18 button button-calm button-small" style="padding:0px 5px;font-size:12px;">通知</div>
        <div class="col-60">收取2016年度物业管理费的通知</div>
        <div class="col-20">2016-04-06</div>
      </a>
    </ion-list>

    <div class="row nav"  align="center">
      <div class="col">
        <img src="img/9pm.png" style="width:100%;">
      </div>
    </div>
