
<ion-view view-title="首页">
  <ion-content scroll="true">
    <div class="row"  align="center">
        <div class="col-25">
          <img src="img/1业主查询.png" class="nav">
          </br>
          物业沟通
        </div>
        <div class="col-25">
          <img src="img/2车牌查询.png" class="nav">
          </br>
          衣交所
        </div>
        <div class="col-25">
          <img src="img/3投诉表扬.png" class="nav">
          </br>
          投诉表扬
        </div>
        <div class="col-25">
          <img src="img/4维修.png" class="nav">
          </br>
          维修
        </div>
    </div>
    <div class="row" style="margin-top:5px;" align="center">
      <div class="col-25">
        <img src="img/5社区通知.png" class="nav">
        </br>
        送水服务
      </div>

      <div class="col-25">
        <img src="img/6物业费查询.png" class="nav">
        </br>
        精选
      </div>
      <div class="col-25">
        <img src="img/7短信群发.png" class="nav">
        </br>
        双城免税
      </div>
      <div class="col-25">
        <img src="img/8快递录入.png" class="nav">
        </br>
        全部服务
      </div>
    </div>
    <div class="row" style="margin-top:5px;">
      <div class="col-100">
        <img src="img/pm.jpg" style="max-width:340px;"/>
      </div>
    </div>

    <ion-list>
      <ion-item class="item-icon-right">
        <h2>社区动态</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item>
        <h3>关于开始收取2016年度物业管理费的通知</h3>
        <p>尊敬的业主：2016年度物业管理费收取工作已经...</p>
        <div align="right">2016/03/04</div>
      </ion-item>
      <ion-item>
        <h3>关于开始收取2016年度物业管理费的通知</h3>
        <p>尊敬的业主：2016年度物业管理费收取工作已经...</p>
        <div align="right">2016/03/04</div>
      </ion-item>
      <ion-item>
        <h3>关于开始收取2016年度物业管理费的通知</h3>
        <p>尊敬的业主：2016年度物业管理费收取工作已经...</p>
        <div align="right">2016/03/04</div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
