<ion-view cache-view="false" view-title="{{tab.currtitle}}">
</ion-view>


<ion-tabs class="tabs-icon-top tabs-background-light tabs-color-orange">

  <ion-tab title="首页" icon-off="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-home"
           icon-on="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-home-active" ng-click="clicktab(0)" >

    <ion-view ng-controller="home" cache-view="false">
      <ion-content class="home">
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div ng-include="'templates/tab-home.html'"></div>
      </ion-content>
    </ion-view>

  </ion-tab>

  <ion-tab title="消息" icon-off="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-message"
           icon-on="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-message-active" ng-click="clicktab(1)" >

  </ion-tab>

  <ion-tab title="通讯录" icon-off="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-contact"
           icon-on="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-contact-active" ng-click="clicktab(2)" >

    <ion-view ng-controller="friend_list" cache-view="false">

      <ion-content overflow-scroll="false">
        <ion-refresher pulling-text="下拉刷新" on-refresh="refresh()"></ion-refresher>
        <div ng-include="'templates/friend/friend_list.html'"></div>
      </ion-content>

      <div class="rj-contacts-right-bar {{right_bar_ui.bg}}" rj-position-middle
           on-touch="right_bar_touch($event)" on-release="right_bar_release($event)">
        <div on-touch="right_bar_item_enter('1')">&uarr;</div>
        <div ng-repeat="itm in right_bar_ui.items" on-touch="right_bar_item_enter(itm.id)">{{itm.txt}}</div>
        <!--<div ng-mouseenter="right_bar_item_enter('&uarr;')">&uarr;</div>-->
        <!--<div>☆</div>-->
        <!--<div>A</div>-->
        <!--<div>B</div>-->
        <!--<div>C</div>-->
        <!--<div>D</div>-->
        <!--<div>E</div>-->
        <!--<div>F</div>-->
        <!--<div>G</div>-->
        <!--<div>H</div>-->
        <!--<div>I</div>-->
        <!--<div>J</div>-->
        <!--<div>K</div>-->
        <!--<div>L</div>-->
        <!--<div>M</div>-->
        <!--<div>N</div>-->
        <!--<div>O</div>-->
        <!--<div>P</div>-->
        <!--<div>Q</div>-->
        <!--<div>R</div>-->
        <!--<div>S</div>-->
        <!--<div>T</div>-->
        <!--<div>U</div>-->
        <!--<div>V</div>-->
        <!--<div>W</div>-->
        <!--<div>X</div>-->
        <!--<div>Y</div>-->
        <!--<div>Z</div>-->
        <!--<div>#</div>-->
      </div>
      <div class="rj-contacts-middle-bar" ng-show="right_bar_ui.navshowhide">
        {{right_bar_ui.navtitle}}
      </div>

    </ion-view>

  </ion-tab>

  <ion-tab title="邻里圈" icon-off="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-group"
           icon-on="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-group-active" ng-click="clicktab(3)" >

  </ion-tab>

  <ion-tab title="我的" icon-off="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-me"
           icon-on="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-me-active"
           ng-click="clicktab(4)" >

    <ion-view ng-controller="usercenter" cache-view="false">
      <ion-content>
        <div ng-include="'templates/tab-usercenter.html'"></div>
      </ion-content>
    </ion-view>

  </ion-tab>

</ion-tabs>
