
.row{
  padding: 0px;
  margin: 0px;
}

.topbar{
  height:92px;

  padding: 0px;
  margin: 0px;
}
.topbar>div.logo  {
  padding: 0px;
  margin: 0px;
  min-width:280px;
}
.topbar>div.logo>img  {
  width:280px;
  bottom: 0px;
  margin-top:8px;
}

.topbar>div.menu {
  line-height: 50px;
  background:url(../images/menubarback.png) repeat-x;

}
.menu>.nav-tabs{
  border-bottom: 0px;
  color:white;
}
.menu>.nav-tabs a {
  color:white;
  border: 0px;
}


.menu>.nav-tabs a:hover {
  color:black;
  background: white;
  font-weight: 600;
  border: 0px;
}


/*
slide
*/

.slide{
  padding: 0px;
  margin: 0px;
}
.slide img{
  width:100%;
}

.slideimg{
  padding: 0px;
  margin: 0px;
}

.slideidxdiv{
  margin-top : -105px;
  height:105px;
}

.slideidx{
  height:70px;
  text-align: center;
}
.slideidx img{
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;

  width:100px;

  border:0px;
  border-radius: 5px;"
}
.curridx{
  border:5px solid white;
  border-radius: 10px;"
}

.headimg{
  height:135px;
  width:135px;
  border-radius: 50px;
}