

<ion-view view-title="访客管理">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-show="false" ng-click="open_wnd_visitor_edit(0)">新增</button>
  </ion-nav-buttons>

  <ion-content scroll="true">

    <ion-refresher pulling-text="下拉刷新" on-refresh="refresh()"></ion-refresher>

    <div class="list list_full_row" align="center" style="padding:5px 5px 0px 5px;">

      <div class="row item-input-inset">
        <div class="col {{qeryfilters.selectidx=='0'?'tab-define-active':'tab-define'}}" ng-click="changequeryfilter('0')">
          未到访
        </div>
        <div class="col {{qeryfilters.selectidx=='1'?'tab-define-active':'tab-define'}}" ng-click="changequeryfilter('1')">
          已到访
        </div>
        <div class="col {{qeryfilters.selectidx=='2'?'tab-define-active':'tab-define'}}" ng-click="changequeryfilter('2')">
          已过期
        </div>
      </div>

      <div class="row item-input-inset item-divider">
        <div class="col-10 "><i class="kwwy-icon-url-orange kwwy-icon-512 kwwy-icon-512-ring_pin" style="width:38px;"></i>
        </div>
        <div class="col-25">预计时间</div>
        <div class="col-75">房号</div>
      </div>

      <div class="item item-input-inset" ng-repeat="itm in visitor.model_list"
           ng-click="open_wnd_visitor_edit(itm.iid)">
        <div class="col-10"><i class="kwwy-icon-url-blue kwwy-icon-512 kwwy-icon-512-thumbtack" style="width:38px;"></i>
        </div>
        <div class="col-25">{{itm.dtm_yj | to_dateformat:"yyyy-MM-dd"}}
        </div>
        <div class="col-75">{{itm.roompath}}</div>
      </div>

    </div>

    <ion-infinite-scroll icon="ion-loading-c" ng-if="express.load_more"
                         on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <a class="button button-blue" ng-click="openSelectRoomWnd()">按房号查询</a>
    </div>
  </ion-footer-bar>

</ion-view>

