<ion-view view-title="投诉建议" >


  <ion-content scroll="true" >
    <ion-refresher pulling-text="下拉刷新" on-refresh="getsuggestionList()"></ion-refresher>

    <div class="list list_full_row" align="center">
      <div class="item-input-inset">
        <div class="col {{qeryfilters.category=='0'?'tab-define-active':'tab-define'}}" ng-click="changeselectidx('0')" style="height:39px;">
          投诉
        </div>
        <div class="col {{qeryfilters.category=='1'?'tab-define-active':'tab-define'}}" ng-click="changeselectidx('1')" style="height:39px;">
          建议
        </div>
      </div>

      <div class="row item-input-inset item-divider" align="center">
        <div class="col-10 "><i class="kwwy-icon-url-blue kwwy-icon-512 kwwy-icon-512-ring_pin" style="width:38px;"></i>
        </div>
        <div class="col">时间</div>
        <div class="col">房号</div>
        <div class="col">
          <select ng-model="qeryfilters.status">
            <option value="" selected>全部</option>
            <option value="0">已受理</option>
            <option value="1">已回复</option>
            <option value="2">已回访</option>
            <option value="3">已撤回</option>
          </select>
        </div>
      </div>


      <div class="item item-input-inset" ng-repeat="itm in user_suggestion.model_list" ng-click="open_wnd_user_suggestion_detail(itm.iid)">
        <div class="col-10"><i class="kwwy-icon-url-blue kwwy-icon-512 kwwy-icon-512-thumbtack" style="width:38px;"></i></div>
        <div class="col-25">{{itm.report_dt | to_dateformat:"yyyy-MM-dd"}}</div>
        <div class="col-66">{{itm.roompath}}</div>
      </div>

    </div>

    <ion-infinite-scroll  icon="ion-loading-c" ng-if="user_repair.load_more"
                          on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <a class="button button-blue" ng-click="openSelectRoomWnd()">按房号查询</a>
    </div>
  </ion-footer-bar>

</ion-view>

