<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <httpRuntime maxRequestLength="102400 "/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="*" path="wsdat.wsdat" type="westsoft.data.srv.XmlDataHandler,westsoft.data.xml"/>
      <add verb="*" path="login.wsdat" type="westsoft.data.xml.auth.AuthLoginHandler,westsoft.data.xml"/>
      <add verb="*" path="wsdat.wsjsondat" type="westsoft.data.srv.XmlDataJSHandler,westsoft.data.xml"/>
      <add verb="*" path="wsdat.file" type="westsoft.data.srv.XmlDataFileHandler,westsoft.data.xml"/>
      <add verb="*" path="resource.wsdat" type="resource.data.imageUp,resource.data"/>
      <add verb="*" path="restest.wsdat" type="resource.data.resSrvHandler,resource.data"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="resource.wsdat" path="resource.wsdat" verb="*" type="resource.data.imageUp" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="wap callback.alipay" path="/wappay/callback.alipay" verb="*" type="alipay.wap.callbackHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="wap notify.alipay" path="/wappay/notify.alipay" verb="*" type="alipay.wap.notifyHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="alipay_wap.pay" path="/wappay/pay.alipay" verb="*" type="alipay.wap.payHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="wsdat.file" path="wsdat.file" verb="*" type="westsoft.data.srv.XmlDataFileHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="wsdat.wsjsondat" path="wsdat.wsjsondat" verb="*" type="westsoft.data.srv.XmlDataJSHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="wsdat.wsdat" path="wsdat.wsdat" verb="*" type="westsoft.data.srv.XmlDataHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="login.wsdat" path="login.wsdat" verb="*" type="westsoft.data.xml.auth.AuthLoginHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="default.html"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    
  </system.webServer>
</configuration>