/* Empty. Add your own CSS if you like */

/*首页*/
.home .row.nav,.home .row.nav .col{
  padding:1px;
}
.home .row.nav img{
  width:100%;
}

.home .row.nav .col div{
  margin-top:-25px;
  padding-bottom: 5px;
}

.home .row.nav .col1{
  border-right:1px solid lightgray;
}
.home .row.nav .col2{
  border-right:1px solid lightgray;
}
.home .row.nav .col3{
  border-right:1px solid lightgray;
}

.home .row.nav .col5{
  border-right:1px solid lightgray;
  border-top:1px solid lightgray;
}
.home .row.nav .col6{
  border-right:1px solid lightgray;
  border-top:1px solid lightgray;
}
.home .row.nav .col7{
  border-right:1px solid lightgray;
  border-top:1px solid lightgray;
}
.home .row.nav .col8{
  border-top:1px solid lightgray;
}


.orange-bg {
  background-color: #ff9933;
}

.tabs-color-orange .tab-item {
  /*color: rgba(255, 201, 0, 0.4);*/
  color: #a2a2a2;
  opacity: 1;
}
.tabs-color-orange .tab-item .badge {
  opacity: 0.4;
}
.tabs-color-orange .tab-item.tab-item-active, .tabs-color-orange .tab-item.active, .tabs-color-orange .tab-item.activated {
  color: #ff9933;
  border: 0 solid #ff9933;
}
.tabs-color-orange .tab-item.tab-item-active .badge, .tabs-color-orange .tab-item.active .badge, .tabs-color-orange .tab-item.activated .badge {
  opacity: 1;
}


.button.button-orange {
  border-color: transparent;
  background-color: #ff9933;
  color: #fff; }
.button.button-orange:hover {
  color: #fff;
  text-decoration: none; }
.button.button-orange.active, .button.button-orange.activated {
  background-color: #ff7733; }
.button.button-orange.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #ff9933; }
.button.button-orange.button-icon {
  border-color: transparent;
  background: none; }
.button.button-orange.button-outline {
  border-color: #ff9933;
  background: transparent;
  color: #ff9933; }
.button.button-orange.button-outline.active, .button.button-orange.button-outline.activated {
  background-color: #ff9933;
  box-shadow: none;
  color: #fff; }

/*button-clear*/
.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #FFFFFF !important;
}


/*form*/
.form-container{
  padding:5px 7px 0px 10px;
  /*border-top:10px solid rgb(251,250,248);*/
  margin:0px !important;
}

.form-subtitle
{
  border-bottom:2px solid rgb(204,204,204);
  border-top:0px;font-size:14px;
}

.form-container.border-top
{
  border-top:7px solid rgb(251,250,248);
}

.form-body
{
  border-left:0px;
  border-right:0px;
  font-size:14px;
}

.form-body div.col{
  padding:0px;
}





.home .notify
{
  font-size:13px;
}
